*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
body
{
    background: #0e0f10;
    overflow: hidden;
}
.contanier
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.gallery
{
   width: 845px;
   height: 725px;
   display: flex;
   overflow-x: scroll;

}
.gallery div
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    padding: 20px;
    flex: none;
}
.gallery div img
{
    margin-top: 5px;
    width: 250px;
    height: 320px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: transform 0,5s;
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}
.gallery::-webkit-scrollbar
{
    display: none;
}
#backBtn, #nextBtn
{
    width: 50px;
    margin: 40px;
    cursor: pointer;
    
    border-radius: 50½;

}